body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
    margin: 0;
    padding-block: 2rem;
}

.fullscreen {
    background-color: canvas !important;
}

iframe {
    isolation: isolate;
}

iframe, #out_container {
    aspect-ratio: 16 / 9;
    background-color: black;
    border: none;
    flex-shrink: 0;
    height: 100%;
    max-height: 40%;
}

#inp_container {
    display: flex;
    gap: 1rem;
}

#out_container {
    color: white;
    line-height: 3;
    position: relative;
    text-align: center;
}

#out_container > * {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#out_container > div {
    align-content: center;
    font-family: sans-serif;
}

footer {
    display: flex;
    gap: 2em;
}