body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    height: 100dvh;
    margin: 0;
    overflow: clip;
    padding-block: 2rem;
}

footer {
    display: flex;
    gap: 2em;
}

#inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    margin-inline: 2rem;
    max-width: 100%;
}

#videos {
    display: grid;
    flex-grow: 1;
    gap: 2rem;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    min-height: 0;
    min-width: 0;
}

#videos > * {
    align-self: center;
    aspect-ratio: 16 / 9;
    border: none;
    clip-path: inset(1px);
    grid-column: 1;
    grid-row: 1;
    height: 100%;
    isolation: isolate;
    max-height: 56.25vw;
    min-height: 0;
    min-width: 0;
}

#videos > :not(canvas) {
    background-color: black;
}

#videos:not(.fullscreen) > :not(:first-child) {
    grid-row: 2;
}

.fullscreen {
    grid-template-rows: 1fr !important;
}

.hide_cursor {
    cursor: none;
}

@keyframes show_cursor {
    0%, 100% { cursor: var(--cursor) }
}

.show_cursor {
    animation: 3s show_cursor;
}