body {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 100vh;
    height: 100dvh;
    justify-content: center;
    margin: 0;
    padding-block: 2rem;
}

footer {
    display: flex;
    gap: 2em;
}

.fullscreen {
    background-color: black !important;
}

#orig_video {
    border: none;
    isolation: isolate;
    min-height: 0;
}

#orig_video, #out_container {
    aspect-ratio: 16 / 9;
    background-color: black;
    height: 100%;
    max-height: 50vw;
}

#inp_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#out_container {
    color: white;
    line-height: 3;
    position: relative;
    text-align: center;
}

#out_container > * {
    aspect-ratio: 16 / 9;
    left: 0;
    position: absolute;
    top: 50%;
    translate: 0 -50%;
    width: 100%
}

#out_container > div {
    align-content: center;
    font-family: sans-serif;
}